body {
  background: #45403D;
  font-size: 14px;
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

header {
  background: #FFD05A url('/images/header-bg.png') top left repeat;
  background-size: 158px 157px;
  padding: 50px 0 50px 0;
  
  img {
    display: block;
    margin: 0 auto 50px auto;
    width: 217px;
  }
}

input {
  border: none;
  color: #484848;
  display: block;
  font-size: 24px;
  margin: 0 auto;
  padding: 15px 20px;
  width: 50%;
}

ul {
  padding: 0 1%;

  li {
    list-style-type: none;

    a {
      background: #FFF;
      box-shadow: 8px 8px #2A2725;
      color: #45403D;
      display: block;
      float: left;
      font-family: Arial;
      font-size: 24px;
      height: 315px;
      margin: 1.5%;
      padding: 7px 9px;
      text-decoration: none;
      width: 30%;

      @media (max-width: 900px) {
        box-shadow: none;
        width: 47%;
      }

      @media (max-width: 450px) {
        box-shadow: none;
        width: 97%;
      }
    }
  }
}
