body {
  background: #45403D;
  font-size: 14px;
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

header {
  background: #FFD05A url('/images/header-bg.png') top left repeat;
  background-size: 158px 157px;
  padding: 50px 0 50px 0;
  
  img {
    display: block;
    margin: 0 auto 50px auto;
    width: 217px;
  }
}

input {
  border: none;
  color: #484848;
  display: block;
  font-size: 24px;
  margin: 0 auto;
  padding: 15px 20px;
  width: 50%;
}

ul {
  padding: 0 1%;

  li {
    list-style-type: none;

    a {
      background: #FFF;
      box-shadow: 8px 8px #2A2725;
      color: #45403D;
      display: block;
      float: left;
      font-family: Arial;
      font-size: 24px;
      height: 325px;
      margin: 1.5%;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      width: 30%;

      div.bg-blur-bg {
        background: rgba(black, .25);
        content: '';
        display: block;
        height: 200px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9;
      }
      div.bg-blur {
        -moz-filter: blur(35px);
        -webkit-filter: blur(35px);
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(35px);
        height: 275px;
        left: -35%;
        position: absolute;
        top: -145px;
        width: 170%;
        z-index: 8;
      }
      div.card {
        color: white;
        font-size: 14px;
        height: 200px;
        padding: 35px 25px 0 25px;
        position: relative;
        z-index: 9;

        div.thumb {
          float: left;
          margin-right: 5%;
          width: 35%;

          img {
            width: 100px;
          }
        }
        div.meta {
          float: left;
          width: 60%;

          p {
            margin: 0 0 7px 0;
            text-shadow: 1px 1px rgba(#45403D, .75);
          }
          p.name {
            line-height: 22px;
            font-size: 21px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
          }
          p.style {
            line-height: 18px;
          }
          p.name, p.style {
            color: #FFD05A;
          }
        }
      }
      div.rating {
        background: white;
        height: 85px;
        position: relative;
        z-index: 9;
      }

      @media (max-width: 1100px) {
        box-shadow: none;
        width: 47%;
      }

      @media (max-width: 700px) {
        box-shadow: none;
        width: 97%;
      }
    }
  }
}
